[Unit]
Description=Starlink - GPS difference service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=bruce
WorkingDirectory=/home/bruce/starlink_position/GPS_loss_alerting/
# Replace with the full path to your python executable and script
ExecStart=/home/bruce/starlink_position/GPS_loss_alerting/.venv/bin/python /home/bruce/starlink_position/GPS_loss_alerting/diff_starlink_gps.py
# Redirect output to your log file
StandardOutput=append:/home/bruce/logs/diff_starlink_gps_daemon.log
StandardError=append:/home/bruce/logs/diff_starlink_gps_daemon.log

[Install]
WantedBy=multi-user.target

